<html>

<head>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/image-tape.css">
    <link rel="stylesheet" href="../styles/magnific-popup.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>


</head>
<body>
    <header class="gutter">
        <!-- <a class="btn-hero">Download now!</a> -->
        <h1>
            The BLANK Pack
        </h1>
        <summary>
            It’s been nearly fourteen years since the Teufort Nine came together to work at TF Industries, and in that time they’ve travelled far beyond the six slices of industrial Americana they were initially assigned to. They’ve visited polar bases, Japanese temples, tropical rainforests, haunted theme parks, and even the screamless void of outer space. But after all this time there’s still one part of the world that’s remained relatively untouched by their bootfalls - one whose absence the TF2 mapping community has finally decided to remedy.
            
            So brush up on your Cockney rhyming slang, exchange your dollars and cents for farthings and ha’pennies,
            and synchronise your death watches to Greenwich Mean Time - that’s right, Team Fortress 2 is hitting the UK!
            
        </summary>
        <a href="#" class="btn-hero">
            Download Now!
        </a>
    </header>



    <main class="gutter">
        <!-- Showcase Maps -->
        <section id="map-feature">
            <figure class="map large" style="transform: rotate(-2deg); grid-area: large">
                <a href="#">
                    <div class="polaroid tape--3">
                        <img src="../img/rc2_01.jpg" alt="">
                    </div>
                    <h2 class="bottom-left">Cascade</h2>
                </a>
            </figure>
            <figure class="map medium" style="transform: rotate(2deg); grid-area: medium1;">
                <a href="#">
                    <div class="polaroid tape--2">
                        <img src="../img/cp_altitude_b50008.jpg" alt="">
                    </div>
                    <h2 class="bottom-left">Altitude</h2>
                </a>
                
            </figure>
            <figure class="map medium" style="transform: rotate(-1deg); grid-area: medium2">
                <a href="#">
                    <div class="polaroid tape--1">
                        <img src="../img/20180704185714_1.jpg" alt="">
                    </div>
                    <h2 class="top-right">Frosty</h2>
                </a>

            </figure>
  
        </section>

        <section>
            <h1>Models</h1>

            <ul class="content-list">
                <figure>
                    <img href="../img/dan_pine_1.PNG" src="../img/dan_pine_1.PNG">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model! Lots and lots of text Lots and lots of text Lots and lots of text Lots and lots of text
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>                
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                              
            </ul>


        </section>

        <section>
            <h1>Materials</h1>
            <ul class="content-list">
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model! Lots and lots of text Lots and lots of text Lots and lots of text Lots and lots of text
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>                
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                              
            </ul>
        </section>

        <section>
            <h1>Particles</h1>
            <ul class="content-list">
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model! Lots and lots of text Lots and lots of text Lots and lots of text Lots and lots of text
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>                
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                <figure>
                    <img href="../img/og-logo2.png" src="../img/og-logo2.png">
                    <h2>Title Here</h2>
                    <figcaption>
                        A really cool model!
                    </figcaption>
                </figure>
                              
            </ul>
        </section>

        <section id="credits">
            <h1>Credits</h1>
            <ul>
                <li><a href="#">Zeus</a></li>
                <li><a href="#">Suna</a></li>
                <li><a href="#">Freya</a></li>
                <li><a href="#">Void</a></li>
                <li><a href="#">Nesman</a></li>
                <li><a href="#">14Bit</a></li>
                <li><a href="#">MegapiemanPHD</a></li>
                <li><a href="#">Idolon</a></li>
            </ul>
        </section>

    </main>

    <hr class="gutter">
    <footer class="gutter">
        <a href="https://tf2maps.net" id="tf2maps_logo">
            <img src="../img/logo-scaled-512px.png" alt="tf2maps.net">
        </a>
        <p id="legal">
            © 2022 TF2Maps.net, all rights reserved. Valve, the Valve logo, Team Fortress, and the Team Fortress logo are trademarks and/or registered trademarks of Valve Corporation.
            <br>This pack and it's logo are not affiliated with Valve Corporation.
            <br>Free for personal, non-commercial use. Do not redistribute, repackage, or otherwise release this content.
        </p>
       

    </footer>

    <script>
    $(document).ready(function() {
        $('ul.content-list img').magnificPopup({type:'image'});
    });

    </script>

</body>


</html>