.polaroid {
    position: relative;
    text-align: center;
    display: inline-block;
}

.polaroid:before,
.polaroid:after {
    background: rgba(255, 255, 235, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    content: "";
    display: inline;
    height: 1em;
    position: absolute;
    margin: auto;
    width: 3.5em;
    float: left;
}

.polaroid img {
    background: var(--poloroid-bg-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    display: inline-block;
    height: auto;
    margin: 0 1em;
    max-width: 100%;
    padding: 0.35em;
    text-align: center;
    vertical-align: top;
}
.tape--1:before {
    left: 50%;
    margin-left: -50px;
    top: -10px;
}
.tape--1:after {
    display: none;
}
.tape--2:before {
    left: 0;
    top: 10px;
    transform: rotate(-35deg);
}
.tape--2:after {
    right: 0;
    top: 15px;
    transform: rotate(45deg);
}
.tape--3:before {
    left: 0;
    top: 10px;
    transform: rotate(-45deg);
}
.tape--3:after {
    bottom: 10px;
    right: 0;
    transform: rotate(-35deg);
}
.tape--4:before {
    left: -30px;
    margin-top: -15px;
    top: 50%;
    transform: rotate(93deg);
}
.tape--4:after {
    margin-top: -30px;
    right: -30px;
    top: 50%;
    transform: rotate(89deg);
}
